name: ci

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build
      run: make build
      env:
        DEVELOPER_DIR: /Applications/Xcode_11.4.app/Contents/Developer
    - name: Run tests
      run: swift test
    - name: Check the example project
      run: cd ./ExampleProject && make swiftinfo
      env:
        DEVELOPER_DIR: /Applications/Xcode_11.4.app/Contents/Developer
    - name: Package
      run: make package
